*{
    box-sizing: border-box;
   

}



nav{
    background-color: blueviolet;
    position: fixed;
    top: 0px;
    margin:auto;
    padding: 2vh;
    width: 100vw;
    border-bottom: 2px solid black;
    height:10vh;
    display:flex;
    justify-content: space-between;
    
}

.headerText{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    text-decoration: none;
}

.cartBox{
    display: flex;
    align-items: center;
    background-color: lawngreen;
    height:40px;
    width: 80px;
    border: 1px solid black;
    border-radius: 5px;
}

.cartHeader{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding:2vh; */
    text-decoration: none;
    height: 50px;
    width: 50px;
    color:saddlebrown
}

.cartHeader:hover{
    color:crimson
}

.cartHeader>p{
    color: yellow;
    display: inline-block;
    text-align: center;
    height: 18px;
    width: 18px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    bottom:9px;
    right: 7px;
    text-decoration: none;
}

.myShop{
    color: inherit;
    text-decoration: inherit;
    padding: none;
    margin: 0px;
    color:rgb(236, 236, 23)
   
}



