*{
    box-sizing: border-box;
}

.productCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem
    
}

.outerSquare{
    
    height: 350px;
    width: 250px;
    margin-left: 50px;
    margin-top: 20px;
}

.middleSquare{
    height: 200px;
    width: 200px;
    
}

.innerSquare{
    height: 200px;
     width: 200px;

}

img{
    height: 150px;
    width: 150px;
    
}

.text{
    text-align: center;
}
