.Home{
    background-color: white;
}



.productCard{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 7rem;
    margin-top: 4rem;
    background-color: white;
}

.outerSquare{
    border: 1.5px solid black;
    border-radius: 5px;
}

.add{
    background-color: green;
    padding:5px;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.remove{
    background-color: brown;
    padding: 5px;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}


img{
    width:200px;
    height:200px;
    margin-left:50px
}

.middleSquare{
    margin: 1rem;
}

.middleSquare>.text{
    display:flex;
    flex-direction: column;
    width: 300px;
    font-weight: 200;
    font-size: small;
    padding:0px;
   align-items: flex-start;
   margin-top:1rem;
  
    }



.show{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.middleSquare>.text>.category{
    font-weight: 500;
    color: orangered;
   
}

.middleSquare>.text>.title {
    color: blue;
    font-weight: 400;

}


.add:hover{
    background-color: greenyellow;
}

.remove:hover {
    background-color: red;
}

