*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.productCard{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 7rem;
    margin-top: 4rem;
    background-color: white;
}

.outerSquare{
    border: 1.5px solid black;
    border-radius: 5px;
}

.add{
    background-color: green;
    color: beige;
    padding:5px;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.remove{
    background-color: brown;
    color: beige;
    padding: 5px;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}


img{
    width:200px;
    height:200px;
    margin-left:50px;
    
}

.middleSquare{
    margin: 1rem;
}

.middleSquare>.text{
    display:flex;
    flex-direction: column;
    width: 300px;
    font-weight: 200;
    font-size: small;
    padding:0px;
   align-items: flex-start;
   margin-top:1rem;
  
    }



.show{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.middleSquare>.text>.category{
    font-weight: 500;
    color: orangered;
   
}

.middleSquare>.text>.title {
    color: blue;
    font-weight: 400;

}

.StarIcon{
    color: orange;
}


.add:hover{
    background-color: greenyellow;
    color: black;
}

.remove:hover {
    background-color: red;
    color: black;
}

@media (max-width: 500px) {
    
    .middleSquare {
            margin: 0.5rem;
        }

    .productCard {
            display: flex;
            flex-direction: column;
            margin-top: 4rem;
            align-items: center;
            justify-content: center;
            background-color: white;
    }
}
