* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 .card{
  
    padding: 3rem;
    margin-left: 20vw;
   
} 

@media (max-width: 1000px) {

    .card {
    
            padding: 1rem;
            margin-left: 5vw;
    
        }
  
}
