*{
    box-sizing: border-box;
}

.containerBar{
    position: fixed;
    background-color: white;
    top: 60px;
    border-left:  3px ;
    border-right: 3px;
    border: 1.5px solid black;
    border-radius: 5px;
    border-style: solid;
    width: 15vw;
    height: 100vh;
    margin-left: 3.5rem;
    margin-top: 3.2rem;
}

.brick{
    padding: 10px; 
    border-bottom: 1px solid;
    border-color: gray;
    width:100%;
    text-align: center;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    cursor: pointer;
}

button{
    border:none
}

.brick:hover{
    background-color: blanchedalmond;
}

.circle:hover {
    background-color: blanchedalmond;
}

#tick{
    text-align: center;
    
}

.circle{
    background-color: white;
    border-color: white;
}

.p{
    height: 30px;
}